body {
	background-color: grey; 
	font-family: phont;
}
@font-face {
	font-family: phont;
	src: url(sjajanfont.ttf);
}
div {
	background: white;
	margin: 50px 100px 0px 100px;
	border-radius: 30px;
	padding-bottom: 20px;
}

h1 {
	text-align: center;
	font-size: 70px;
	margin-top: 70px;
	color: white;
}

p {
	padding: 5%;
	font-size: 25px ;
	font-weight: 700;
	text-align: center;
}

button {
	display:block; /* change this from inline-block */
    width:10%; /* setting the width */
    position:relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #191919;
    background: white;
    color: black;
	border-radius: 10px;
	font-weight: bold;
}
button:hover {
	background: black;
	color: white;
	border: 2px solid #191919;
}

.color1 {
	background-color: #ff80aa;
}
.color2 {
	background-color: #3385ff;
}
.color3 {
	background-color: #ff3300;
}
.color4 {
	background-color: #e6b800;
}
